.input {
  border: 1px solid var(--dark);
  border-radius: 4px;
  resize: none;
  padding: 8px;
  margin: 0;
  font-size: 1rem;
  height: auto;
  width: 100%;
}

.input:hover,
.input:focus {
  outline: 0;
}

.input:hover {
  border: 1px solid var(--blue);
}

.input:focus {
  border: 1px solid var(--darkblue);
}

textarea.input {
  height: 124px;
}
